<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Previsão de Preços</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html{
            overflow: hidden;
        }

        body{
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #login-form-container{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="login-form-container">
        <form action="/result" method="GET">
            <div class="card" style="width: 400px">
            <div class="card-content">
                <div class="media">
                <div class="is-size-4 has-text-centered">Estimativa de Preço do Apartamento</div>
                </div>
                <div class="content">

                <div class="field">
                    <p class="control">
                    Tipo de Negociação: <select name="negotiation_type" id="negotiation_type">
                        <option value='0'>Aluguel</option>
                        <option value="1">Venda</option>
                    </select>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Valor do condomínio: <input class="input" type="number" name="condo" id="condo">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Tamanho do apartamento: <input class="input" type="number" name="size" id="size">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Número de quartos: <input class="input" type="number" name="rooms" id="rooms">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Número de banheiros: <input class="input" type="number" name="toilets" id="toilets">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Número de suites: <input class="input" type="number" name="suites" id="suites">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Número de vagas de estacionamento: <input class="input" type="number" name="parking" id="parking">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Possui Elevador? <select name="elevator" id="elevator">
                        <option value="0">Não</option>
                        <option value="1">Sim</option>
                    </select>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    É imobiliado? <select name="furnished" id="furnished">
                        <option value="0">Não</option>
                        <option value="1">Sim</option>
                    </select>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Possui piscina no prédio? <select name="swimming_pool" id="swimming_pool">
                        <option value="0">Não</option>
                        <option value="1">Sim</option>
                    </select>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    O apartamento é novo? <select name="new" id="new">
                        <option value="0">Não</option>
                        <option value="1">Sim</option>
                    </select>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Qual o bairro? <select name="bairro" id="bairro">
                        <option value="Água Rasa">Água Rasa</option>
                        <option value="Alto de Pinheiros">Alto de Pinheiros</option>
                        <option value="Anhanguera">Anhanguera</option>
                        <option value="Aricanduva">Aricanduva</option>
                        <option value="Artur Alvim">Artur Alvim</option>
                        <option value="Barra Funda">Barra Funda</option>
                        <option value="Bela Vista">Bela Vista</option>
                        <option value="Belém">Belém</option>
                        <option value="Bom Retiro">Bom Retiro</option>
                        <option value="Brasilândia">Brasilândia</option>
                        <option value="Brooklin">Brooklin</option>
                        <option value="Brás">Brás</option>
                        <option value="Butantã">Butantã</option>
                        <option value="Cachoeirinha">Cachoeirinha</option>
                        <option value="Cambuci">Cambuci</option>
                        <option value="Campo Belo">Campo Belo</option>
                        <option value="Campo Grande">Campo Grande</option>
                        <option value="Campo Limpo">Campo Limpo</option>
                        <option value="Cangaíba">Cangaíba</option>
                        <option value="Capão Redondo">Capão Redondo</option>
                        <option value="Carrão">Carrão</option>
                        <option value="Casa Verde">Casa Verde</option>
                        <option value="Cidade Ademar">Cidade Ademar</option>
                        <option value="Cidade Dutra">Cidade Dutra</option>
                        <option value="Cidade Líder">Cidade Líder</option>
                        <option value="Cidade Tiradentes">Cidade Tiradentes</option>
                        <option value="Consolação">Consolação</option>
                        <option value="Cursino">Cursino</option>
                        <option value="Ermelino Matarazzo">Ermelino Matarazzo</option>
                        <option value="Freguesia do Ó">Freguesia do Ó</option>
                        <option value="Grajaú">Grajaú</option>
                        <option value="Guaianazes">Guaianazes</option>
                        <option value="Iguatemi">Iguatemi</option>
                        <option value="Ipiranga">Ipiranga</option>
                        <option value="Itaim Bibi">Itaim Bibi</option>
                        <option value="Itaim Paulista">Itaim Paulista</option>
                        <option value="Itaquera">Itaquera</option>
                        <option value="Jabaquara">Jabaquara</option>
                        <option value="Jaguaré">Jaguaré</option>
                        <option value="Jaraguá">Jaraguá</option>
                        <option value="Jardim Helena">Jardim Helena</option>
                        <option value="Jardim Paulista">Jardim Paulista</option>
                        <option value="Jardim São Luis">Jardim São Luis</option>
                        <option value="Jardim Ângela">Jardim Ângela</option>
                        <option value="Jaçanã">Jaçanã</option>
                        <option value="José Bonifácio">José Bonifácio</option>
                        <option value="Lajeado">Lajeado</option>
                        <option value="Lapa">Lapa</option>
                        <option value="Liberdade">Liberdade</option>
                        <option value="Limão">Limão</option>
                        <option value="Mandaqui">Mandaqui</option>
                        <option value="Medeiros">Medeiros</option>
                        <option value="Moema">Moema</option>
                        <option value="Mooca">Mooca</option>
                        <option value="Morumbi">Morumbi</option>
                        <option value="Pari">Pari</option>
                        <option value="Parque do Carmo">Parque do Carmo</option>
                        <option value="Pedreira">Pedreira</option>
                        <option value="Penha">Penha</option>
                        <option value="Perdizes">Perdizes</option>
                        <option value="Perus">Perus</option>
                        <option value="Pinheiros">Pinheiros</option>
                        <option value="Pirituba">Pirituba</option>
                        <option value="Ponte Rasa">Ponte Rasa</option>
                        <option value="Raposo Tavares">Raposo Tavares</option>
                        <option value="República">República</option>
                        <option value="Rio Pequeno">Rio Pequeno</option>
                        <option value="Sacomã">Sacomã</option>
                        <option value="Santa Cecília">Santa Cecília</option>
                        <option value="Santana">Santana</option>
                        <option value="Santo Amaro">Santo Amaro</option>
                        <option value="Sapopemba">Sapopemba</option>
                        <option value="Saúde">Saúde</option>
                        <option value="Socorro">Socorro</option>
                        <option value="São Domingos">São Domingos</option>
                        <option value="São Lucas">São Lucas</option>
                        <option value="São Mateus">São Mateus</option>
                        <option value="São Miguel">São Miguel</option>
                        <option value="São Rafael">São Rafael</option>
                        <option value="Sé">Sé</option>
                        <option value="Tatuapé">Tatuapé</option>
                        <option value="Tremembé">Tremembé</option>
                        <option value="Tucuruvi">Tucuruvi</option>
                        <option value="Vila Andrade">Vila Andrade</option>
                        <option value="Vila Curuçá">Vila Curuçá</option>
                        <option value="Vila Formosa">Vila Formosa</option>
                        <option value="Vila Guilherme">Vila Guilherme</option>
                        <option value="Vila Jacuí">Vila Jacuí</option>
                        <option value="Vila Leopoldina">Vila Leopoldina</option>
                        <option value="Vila Madalena">Vila Madalena</option>
                        <option value="Vila Maria">Vila Maria</option>
                        <option value="Vila Mariana">Vila Mariana</option>
                        <option value="Vila Matilde">Vila Matilde</option>
                        <option value="Vila Olimpia">Vila Olimpia</option>
                        <option value="Vila Prudente">Vila Prudente</option>
                        <option value="Vila Sônia">Vila Sônia</option>
                    </select>
                    </p>
                </div>

                <div class="field">
                    <button class="button is-fullwidth is-rounded is-success">Realizar Previsão</button>
                </div>
                </div>
            </div>
            </div>
        </form>
    </div>
</body>
</html>